.details_head{
	width: 100%;
	height: 37px;
	background: #E3E4E5;
}
/**/

.details_logo_search{
	width: 100%;
	height: 178px;
}

.deta_ipTop_box{
	width: 100%;
	height: 42px;
	float: left;
	background: #F2F2F2;
}
.deta_ipTop_main{
	width: 1190px;
	height: 42px;
	margin: 0 auto;
}
.deta_ipTop_left{
	width: 550px;
	height: 30px;
	float: left;
	margin-top: 10px;
}
.deta_ipTop_left li{
	float: left;
	margin-top: 5px;
	height: 25px;
	text-align: center;
	
	color: #333333;
}
.jiantou{
	margin-top: 10px;
}
.jianguo_pro{
	width: 110px;
	height: 20px;
	background: #fff;
	float: left;
	margin-left: 5px;
	border: 1px solid #536C52;
	position: relative;
	background: #fff;
}
.jianguo_pro i{
	width: 20px;
	height: 20px;
	margin-top: 3px;
}

#img_jiao:hover{
	
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); 	/* Opera */
	transition: 0.2s;
}
.allkid_chuizi{
	width:830px;
	height:180px;
	position: absolute;
	border: 1px solid #536C52;
	left: -1px;
	z-index: 2;
	top: 20px;
	float: left;
	background: #fff;
	display: none;
	
}
.smart{
	width:110px;
	height: 20px;
	background: #fff;
	z-index: 22;
	float: left;
	left: 0;
}

.kidchui_01{
	width: 250px;
	height: 100px;
	float: left;
	margin-left: 20px;
}
.ppp{
	width: 250px;
	height: 100px;
	float: left;
}
.ppp:hover{
	color: red;
}
.img_01{
	width: 70px;
	height: 70px;
	float: left;
	margin-top: 15px;
}
._01_words{
	width: 150px;
	height: 40px;
	float: left;
	margin-top: 15px;
	font-style: normal;
}
.shuoming_pro_ul{
	width: 820px;
	height: 70px;
	float: left;
}
.shuoming_pro_ul li{
	float: left;
	
}
.shuoming_pro_ul li a{
	padding: 20px 40px;
}
.pro_ol{
	width: 510px;
	height: 35px;
	float: right;
	margin-top: 5px;
	position: relative;
}
.pro_ol li{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}
.pro_ol li a {

}
.pro_ol li a i{
	width: 15px;
	height: 15px;
	float: left;
	
}
.i_01{
	
	
}
.i_03{
	background: url(../img/__sprite.png);
	background-position:-17px -19px ;
}

/***********放大镜主体详情*/
.delis_glase_box{
	width: 100%;
	height: 750px;
	float: left;
}
.delis_main{
	width: 1190px;
	height: 750px;
	margin: 0 auto;
}
.delis_main_left{
	width: 470px;
	height: 750px;
	float: left;
}



.Magnifier_box{
	width: 450px;
	height: 600px;
	float: left;
	position: relative;
	left: 10px;
	top: 10px;
	border: 1px solid #F2F2F2;
}
.small{
	width: 450px;
	height: 450px;
	float: left;
}
.small img{
	position: absolute;
	top:0;
	left:0;
}
#big{
	width: 500px;
	height: 500px;
	border:1px solid #ccc;
	overflow:hidden;
	position:absolute;
	z-index: 22;
	top:0;
	left: 450px;
	display: none;
}
.bigImage{
	position:absolute;
	top:0;
	left:0;
}
#small{
	position:relative;
	cursor:move;  
}
.Magnifier_box li{
	
    float: left;	 
	border-top:none;
	margin-left: 8px;
}
.Magnifier_box ul{
	position:absolute;
	left:0;
	width:530px;
	height: 70px;
	float: left;
}
#bottom li{
	width:54px;
	margin-top:5px;
	border: 2px solid #fff;
	background: #fff;
	margin-left: 17px;
}
.glas_ul_box{
	width:450px;
	height:80px;
	float: left;
	position: relative;
	
}
.glas_small_main{
	width: 380px;
	height:70px ;
	float: left;
	left: 34px;
	top: 5px;
	overflow: hidden;
	position: absolute;
}
.glas_lef{
	width: 25px;
	height: 70px;
	position: absolute;
	left: 0;
	top: 5px;
	background:url(https://static.360buyimg.com/item/default/1.0.37/components/preview/i/disabled-prev.png) no-repeat 0px 20px;
}
.glas_righ{
	width: 25px;
	height: 70px;
	position: absolute;
	right: 0;
	top: 5px;
	background: url(https://static.360buyimg.com/item/default/1.0.37/components/preview/i/disabled-next.png) no-repeat 0px 20px;
}
#mask{
	width:300px;
	height:300px;
	background:rgba(250,250,30,0.8);
	opacity:0.4;
	/*background: url(images/4m.jpg);*/
	position:absolute;
	top:0;
	left:0;
	display:none;

}

.follow_it{
	width: 450px;
	height:50px;
	float: left;
}
.follow_it_le{
	width: 250px;
	height: 30px;
	float: left;
	margin-top: 10px;
}
.follow_it_le a{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}
.follow_it_le a i{
	width: 14px;
    height: 13px;
    float: left;
    margin-top: 1px;
}
.follow{
	background: url(https://static.360buyimg.com/item/default/1.0.37/components/preview/i/__sprite.png);
	background-position:-45px -40px;;
}
.share{
	    background-image: url(//static.360buyimg.com/item/default/1.0.37/components/preview/i/__sprite.png);
    background-position: -45px -24px;
}
.contrast{
	background-image: url(//static.360buyimg.com/item/default/1.0.37/components/preview/i/__sprite.png);
    background-position: -30px -24px;
}
.follow_it_ri{
	width:30px;
	height: 20px;
	float: right;
	margin-top: 22px;
}

.follow_it a:hover{
	color: red;
}


.delis_main_right{
	width: 700px;
	height:750px;
	float:right;
	background: pink;
}
.delis_main_right_top_01{
	width: 700px;
	height: 30px;
	float: left;
	margin-top: 10px;
	font-size:18px ;
	padding-top: 10px;
	color: #666666;
}
.delis_main_right_top_02{
	width: 700px;
	height: 20px;
	float: left;
	color: red;
}
.delis_main_right_top_03{
	width: 700px;
	height: 32px;
	float: left;
	background: url(https://img10.360buyimg.com/devfe/jfs/t7495/268/3383319470/19047/76062431/59eea03cN456778a9.png);
}
.delis_main_right_top_04{
	width: 700px;
	height: 40px;
	float: left;
	background:#F3F3F3;
	color: #333333;
	font-size: 14px ;
	padding-top: 10px;
	
}
.delis_main_right_top_04 i{
	color: red;
	font-style: normal;
}
.add{
	width: 80px;
	height: 40px;
	float: right;
	padding-left: 10px;
	border-left:1px solid #333333 ;
}
.add span{
	width: 80px;
	float: left;
}
.delis_main_right_top_05{
	width: 700px;
	height: 75px;
	float: left;
	position: relative;
	z-index: 1;
	background: url(https://static.360buyimg.com/item/default/1.0.37/components/common/i/price-bg.png);
	
}
.right_top_05_01{
	width: 700px;
	height: 25px;
	float: left;
	padding-top:10px;
	font-size: 14px;s
}
.no_buy{
	width: 40px;
	border: 1px solid red;
	color: red;
	float: left;
	text-align: center;
	margin-left: 15px;
}
.right_top_05_02{
	width: 620px;
	height: 40px;
	float: right;
	position: relative;
}
.send{
	border: 1px solid red;
	padding: 5px 8px;
	float: left;
	color: red;
	margin-right: 15px;
}
.right_top_05_02 span{
	float: right;
	color: #333333;
	margin-right: 20px;
}
.right_top_05_02_yin{
	width: 700px;
	height: 190px;
	position: absolute;
	background: url(https://static.360buyimg.com/item/default/1.0.37/components/common/i/price-bg.png);
	display: none;
	left: -80px;
}
.p1{
	width: 620px;
	height: 30px;
	float: right;
}
.p1 span{
	float: left;
	color: red;
}
.right_top_05_02_yin i{
	font-style: normal;
}
.right_top_05_02_yin .send{
	font-size: 13px;
}
.delis_main_right_top_06{
	width:700px;
	height: 45px;
	float: left;
	background: yellow;
}
.delis_main_right_top_06 span:nth-child(1){
	float: left;
}
.get_giv{
	width: 130px;
	height: 15px;
	float: left;
	margin-left: 20px;
	border-radius:20px ;
	color: #646EB0;
	border: 1px solid #646EB0;
}
.get_giv i{
	width: 16px;
	height: 16px;
	float: left;
	background: url(https://static.360buyimg.com/item/default/1.0.37/components/address/i/__sprite.png);
}
.delis_main_right_top_07{
	width: 700px;
	height: 40px;
	line-height: 30px;
	float: left;
	border: 1px solid black;
}
.delis_main_right_top_07 span:nth-child(1){
	float: left;
}
.table{
	width: 160px;
	height: 30px;
	float: left;
	margin-left: 20px;
	margin-top: 4px;
	font-size: 14px;
	position: relative;
	z-index: 2;
}
.table i{
	width: 16px;
	height: 6px;
	right: 0;
	top:10px;
	position: absolute;
	background: url(https://static.360buyimg.com/item/default/1.0.37/components/common/i/arr-close.png) no-repeat;
}
.table i:hover{
	transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); 	/* Opera */
	transition: 0.2s;
}
.citys_alls{
	width: 470px;
	height: 250px;
	float: left;
	position: absolute;
	background: yellow;
	z-index: -1;
}
.tab_top{
	width: 450px;
	height: 50px;
	float: left;
	left:10px;
	border-bottom: 2px solid red;
	position: relative;
}
.btn{
	width: 70px;
	height: 30px;
	border-top: 2px solid red;
	border-right: 2px solid red;
	border-left: 2px solid red;
	background: #fff;
	margin-right: 10px;
	float: left;
	margin-top: 18px;
	font-size: 16px;
	align-content: center;
	padding-left: 15px;
	line-height: 30px;
}
