.jd_nav{
	width: 100%;
	height: 37px;
	float: left;
	background: #e3e4e5;
	float: left;
}
.jd_nav_main{
	margin: 0 auto;
	width: 1190px;
	height: 37px;
	background: #e3e4e5;
}
.city{
	width: 70px;
	height: 37px;
	float: left;
	margin-left: 200px;
	background: #e3e4e5;
	position: relative;
}
.allkind{
	width: 40px;
	height: 37px;
	float: right;
}
.kindcity_box{
	position: absolute;
	width: 400px;
	height: 270px;
	background: #fff;
	top:37px;
	left: 0;
	z-index: 22;
	display: none;
}
.kindcity_box div{
	float: left;
	margin-left: 15px;
	margin-top: 7px;
	width: 60px;
	padding:2px 0;
	text-align: center;
}
.kindcity_box div a{
	padding: 5px 8px;
	width:40px;
	text-align: center;
	float: left;
}

.city_in{
	background:#E01312;
}


.city span{
	width: 70px;
	height: 40px;
	float: left;
	font-size: 12px;
	line-height:37px;
	text-align: center;
	color: #999999;
}
.city:hover{
	background: #fff;
}
.user_box{
	width:120px;
	height: 37px;
	background:  #e3e4e5;
	float: left;
}
.user_box li a{
	float: right;
	height: 37px;
	text-align: center;
	line-height: 37px;
	margin-right: 5px;
	color: red;
}

.jd_nav_right a:hover{
	color:#c81623;
}
.jd_nav_right{
	width: 770px;
	height: 37px;
	float: right;
	
}
.jd_nav_right_ul{
	width: 650px;
	height: 37px;
	float: right;
	background: #e3e4e5;
}
.jd_nav_right_ul li{
	float: left;
	margin-left: 10px;
	height: 37px;
	font-size: 12px;
	line-height: 37px;
	color: #999999;
}
.jd_nav_right_ul li a{
	height: 37px;
	float: left;
	line-height: 37px;
	font-size: 12px;
	color: #999999;
}
.jd_nav_right_ul li a:hover{
	color: #C81623;
}
.shu{
	font-size: 10px!important;
	color: #ccc;
}
.posit{
	padding: 0 4px 0 4px;
}
.posit:hover{
	background: #fff;
}
.posit{
	position: relative;
}
.my_jd{
	width: 350px;
	height: 200px;
	top: 37px;
	position: absolute;
	left: 0;
	background: #fff;
	z-index: 22;
	display: none;
}
.my_kehu{
	width: 210px;
	height: 300px;
	position: absolute;
	background: #fff;
	top: 37px;
	left: -138px;
	display: none;
	z-index: 22;
}
.my_nav{
	width: 1190px;
	height: 220px;
	position: absolute;
	left:-1020px ;
	top: 37px;
	background: #fff;
	display: none;
	z-index: 22;
}
.my_jd ul{
	width: 100px;
	height:190px;
	float: left;
	margin-left: 15px;
}
.kehu_box{
	width: 210px;
	height: 300px;
	float: left;
	
	
}
.kehu_box ul{
	width: 100px;
	height: 150px;
	
	float: left;
}
.kehu_box_span{
	margin-left: 10px;
}
.phone_jd{
	position: relative;
}
.ma_jd{
	width: 60px;
	height: 60px;
	position: absolute;
	
}
.three{
	width: 200px;
	height: 305px;
	position: absolute;
	left: -130px;
	z-index: 22;
	background: #fff;
	display: none;
}
.three_01{
	width: 200px;
	height: 100px;
	border-bottom: 1px solid #ccc;
}
.three_03{
	border-bottom: 2px solid #ccc;
}
.ma_red{
	width: 70px;
	height: 70px;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}
.ma_red img{
	margin-left: 5px;
	margin-top: 5px;
}
.ma_red_right{
	width: 120px;
	height: 70px;
	float: left;
	margin-top: 10px;
}
.item{
	width: 120px;
	height: 20px;
	float: left;
}
.my_blank img{
	width: 60px;
	height: 60px;
}
.my_blue img{
	width: 60px;
	height: 60px;
}
.item{
	margin-left: 10px;
}